body {
    height: 100vh;
    margin: 0px;
}

.content {
    height: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.puzzle-selector {
    flex-basis: 20em;
    margin: 0.5em;
    overflow-y: scroll;
    padding: 0px;
    list-style: none;
}

.puzzle-selector .puzzle {
    display: block;
    width: 100%;
    padding: 0.2em;
    border: 1px solid gray;
    border-radius: 2px;
    cursor: pointer;

    &.selected {
        font-weight: bold;
        background-color: #ccf;
    }

    &.locked {
        cursor: unset;
        color: #b4b4b4;
    }

    &.collected {
        background-color: #cfc;
    }

    &.selected.collected {
        background-color: rgb(204, 255, 235);
    }

    &.solved {
        text-decoration: line-through;
    }
}

.puzzle-content {
    flex-grow: 1;
    flex-basis: min-content;
}

.dialog-container {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 20%);
    z-index: 100;
    text-align: center;
}

.puzzle-dialog {
    display: inline-block;
    margin-top: 2em;
    padding: 1em;
    border: 2px grey;
    background-color: white;
    text-align: left;
}